<div class="container" style="margin-top: 50px;">
    <div class="col-7">
        <a href="/admin" class="btn btn-danger"><i class="fa-solid fa-left-long"></i></i>Volver</a>
    </div>
    <div class="row">
        <p class="text-end">
            Hola {{usuario}}! <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión <i
                    class="fas fa-sign-out-alt"></i></a>
        </p>
    </div>
    <div class="row">
        <div class="col-7">
            <h3>Novedades</h3> <!-- Cambié "Biblioteca" por "Novedades" -->
        </div>
        <div class="col-5 text-end">
            <a href="/admin/novedades/agregarArticuloNovedades" class="btn btn-success"><i class="fa fa-plus"
                    aria-hidden="true"></i> Nuevo</a> <!-- Cambié la ruta a "novedades/agregar" -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Imagen</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articulos}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="/admin/novedades/modificarArticuloNovedades/{{id}}"><i
                                    class="fa fa-pencil" aria-hidden="true"></i></a>
                            <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}"><i class="fa fa-trash"
                                    aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>